.GetImmatDefault {
  display: inline-block;
  width: 262px; /* Pour centrer InputField+MyButton */
}

.GetImmatDefault .HandwriteIndicationDefault {
  margin-bottom: 70px;
  margin-left: 90px;
}

.GetImmatDefault .InputFieldDefault {
  display: inline-block;
}
.GetImmatDefault .MyButtonDefault {
  display: inline-block;
  position: relative;
  left: -1px;
}