.HandwriteIndicationDefault {
  position: relative;
  width: 683px;
  font-family: 'Grape Nuts';
  font-weight: 900;

  /* border: solid 1px blue; */
}

.HandwriteIndicationDefault img {
  position: relative;
  top: 70px;
}

.HandwriteIndicationDefault p {
  display: inline-block;
  width: 500px;
  margin-left: 25px;

  /* border: solid 1px blue; */
}
